.Container{
  width: 100%;
  background: #7895FF;
  height: 300px;
}

.Logo{
  justify-content: center;
  margin-bottom: -6px;
  padding: 15px 10px;
  display: flex;
}

.Name{
  margin-bottom: 35px;
}

.SearchSection{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-bottom: 35px;
}

h2,
h3{
  color: #FFFFFF;
  text-align: center;
}



/* How to change "Search" to the right 
font-size:16px; and color (white) */