.Container{
  background:white;
  box-sizing: border-box;
  height:100vh;
  width:0; 
  overflow-x:hidden;
  transition: width 1s;
}

.ArticleContainer{
  box-sizing: border-box;
  margin: 24px 24px 0 24px;
  width: 750px;
}

.ArticleContainer h2, .ArticleContainer h3 {
  margin-left:0px;
}

.ArticleContainer > div:not(:first-child) {
  margin-top:24px;
}

.HeadingContainer{
  position:relative;
}

.HeadingContainer > h2 {
  padding-right:100px;
}

.HeadingContainer > .Close{
  position:absolute;
  right:20px;
  top:5px;
}

.SubheadingContainer{
  color: var(--primary-color);
  margin-top: 10px !important;
}

.TagsContainer{
  margin-top: 10px !important;
}

.SnippetContainer{
}

.SnippetContainer h3{
  margin-bottom:10px;
  text-transform: uppercase;
}

.RelatedStories{
}

.RelatedStories>ul{
}

.RelatedStories li{
  display:block;
  margin-bottom:8px;
}

.Resources{
  margin-bottom:64px;
}

.Resources>ul{
}

.Toggled{
  width:800px;
}

.Hidden{
  width:0px;
}