
.LandingPageContainer{
  overflow-x: hidden;
 
}

a {
  text-decoration: none;
}

.HeaderContainer {
  background: #f9f7f1;
  width: 100vw;
  height: 58vh;
}
.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.Logo {
  margin-top: 2rem;
  margin-left: 10rem;
  font-size: 1rem;
}
.LogoAbout {
  margin-top: 2rem;
  margin-right: 10rem;
  font-size: 0.75rem;
}
.HeaderDiv {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem;
}
.HeaderLeft {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}
.HeaderTitle {
  font-size: 3rem;
  margin: 0;
  line-height: 3.625rem;
  width: 90%;
}
.HeaderPara {
  font-size: 1rem;
  margin-top: 1rem;
  line-height: 1.625rem;
  width: 85%;
}
.HeaderBtn {
  color: #f9f7f1;
  background: black;
  width: 11.063rem;
  height: 72px;
  font-size: 24px;
  border-radius: 8px;
  outline: none;
  margin-top: 5.625rem;
}
.HeaderBtn:hover {
  cursor: pointer;
}
.HeaderRight {
  display: flex;
  flex-direction: column;
  margin-right: 8.688rem;
}
.Hero {
}

.Part2Container{
  display: flex;
  flex-direction: column;
  padding:0 8vw; ;
  justify-content: center;
  align-items: center;
  
}
.AllyContainer {
  margin-top: 2.5rem;
  width: 100%;
  
  
}
.AllyTitle {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 1rem;
  
  
}
.StoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  

}
.ContributeContainer {
  display: flex;
  background: #171717;
  border-radius: 8px;
  height: 400px;
  width: 65vw;
  justify-content: space-between;
  margin-top: 2.5rem;
  
  
}

.ContributeBoxDiv {
}
.ContributeTitle {
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
  margin: 80px 212px 4px 94px;
  width: 242px;
  height: 87px;
}
.ContributeDesc {
  width: 271px;
  height: 52px;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 94px;
}
.ContributeBtn {
  display: flex;
  background: #ffffff;
  border-radius: 8px;
  width: 77px;
  height: 37px;
  margin-left: 94px;
  margin-top: 32px;
  align-items: center;
  justify-content: center;
}

.ContributeBtnText {
  font-size: 12px;
  line-height: 40px;
}
.ContributeImg {
  border-radius: 8px;
  width: 100%;
  height: 400px;
  
}
.ResourceContainer{
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}
.ResourceBox {
  display: flex;
  justify-content: center;
  
 
}
.Footer {
  height: 131px;
  background: #f9f7f1;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.FooterAllied {
  display: flex;
  align-items: center;
  margin-left: 160px;
  text-align: center;
}
.FooterAlliedText {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
}

.FooterSocial {
  display: flex;
  align-items: center;
  margin-right: 160px;
  margin-top: 12px;
}

.FooterImg {
  margin-right: 10px;
  margin-bottom: 15px;
}

.FooterLinkedIn {
  margin-bottom: 15px;
  width: 60%;
}

/* Responsive design */
@media only screen and (max-width:480px){
  .HeaderContainer {
  
    
  }
  .Hero{
    display: none;
    
  }
  Header{
    width: 100vw;
  }
}