.Container{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index:2001;
  position:absolute;
  background:#fff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.43);
  height:49px;
  width:100%;
}

.Anchor{
  display:flex;
  align-items: center;
  text-decoration:none;
  color:black;
  margin:0;
  padding:0;
}

.LogoContainer{
  display:flex;
  position:absolute;
  align-items: center;
  left: 20px;
}

.Title{
  font-size:18px;
}

.Logo{
  height:18px;
  width:18px;
  margin-right:10px;
}