.Container{
  position:relative;
  box-sizing: border-box;
  height:36px;
  width:0;
}

.Icon{
  height:16px;
  width:16px;
  margin-bottom:2px;
}

.Section{
  box-sizing:border-box;
  position:absolute;
  display:inline-block;
  height:36px;
  border:0 solid #dddddd;
}

.Section:first-child{
  direction:rtl;
  width:120px;
  left:-180px;
  border:0 solid rgba(0,0,0,0);
  border-width: 2px 0 2px 2px;
  border-radius:20px 0 0 20px;
}

.Section:nth-child(2){
  width:120px;
  border-width: 2px 2px 2px 2px;
  left:-60px;
}

.Section:last-child{
  width:120px;
  border-width: 2px 2px 2px 0px;
  border-radius:0 20px 20px 0;
  left:60px;
}

.InnerSection{
  display:flex;
  align-items: center;
  box-sizing: border-box;
  position:relative;
  top:-2px;
  border:0 solid #dddddd;
  border-width: 2px 0 2px 2px;
  border-radius:20px 0 0 20px;
  direction:ltr;
  width:120px;
  height:36px;
  transition: width 0.5s;
}

.InnerSection:focus-within{
  direction:ltr;
  width:250px;
  transition: width 0.5s;
}

.Input{
  box-sizing:border-box;
  outline: 0px;
  background:rgba(0,0,0,0);
  border: 0px solid rgba(0,0,0,0);
  margin-left:5px;
  height:100%;
  width:100%;
  font-size:16px;
}

.InputLabel{
  height:15px;
  width:15px;
  margin-left:10px;
}

.Select{
  padding:0 4px;
  height:100%;
  width:100%;
  font-size:16px;
  outline: 0px;
  border:0px;
  background:rgba(0,0,0,0);
}

.Icon{
  height:15px;
  width:15px;
}

.Form{
  display:flex;
}

.ArrowContainer{
  display:flex;
  align-items:center;
  cursor:pointer;
  background:rgba(255,255,255,0);
  outline:0;
  border:0;
  padding:0;
  margin:0px;
}

.Arrow{
  margin-right:10px;
  transform: rotate(180deg);
}