.Button{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  padding:10px 8px;
  border-width:0px;
  font-weight:700;
}

.Button:hover{
  cursor:pointer;
}

.Button > * {
  margin:0px 10px;
}