.StoryText {
  font-size: 1rem;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  padding:10px;
  
}
.StoryDiv a{
  
}
.StoryImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background:black;
  border-radius:10px;
  
}
.StoryDiv {
  display: flex;
  flex-direction: column;
 max-width: 25vw;
 margin:0.75rem;
 
 

}
.StoryImg {
  border-radius: 8px;
  max-width: 25vw;
  max-height: 245px;
  
}
