.Container{
  background:white;
  box-sizing: border-box;
  width: 525px;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.25);
  padding:19px;
  height:100%;
  z-index:100;
  display:flex;
  flex-direction: column;
}

@media only screen and (max-width: 1300px){
  .Container{
    width:39%;
  }
}

@media only screen and (max-width:720px){
  .Container{
    width:100%
  }
}

.Header{
  margin-bottom:16px;
}

.Header a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color:black;
}

.SearchSection{
  width:95%;
  margin-bottom:16px;
}

.FilterSection{
  width:95%;
  margin-bottom:16px;
  display:flex;
}

.FilterSection > div:not(:first-child) {
  margin-left:5px;
}

.ArticleSection{
  width:95%;
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-right:30px;
}

.ArticleSection > div:not(:first-child) {
  margin:0 0;
}

.PageSection {
  padding:10px 0;
  font-size:18px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.PageSection > span {
  padding:5px 8px;
  margin:0px 4px;
  border-radius: 8px;
  cursor:none;
}

.PageSection > span:hover {
  background-color: #F2F2F2;
  cursor:pointer;
}

.PageSection .Selected {
  background-color: #F2F2F2;
}

.PageSection .Disabled {
  background-color:rgba(0,0,0,0) !important;
  color: #B4B4B4;
  cursor:default !important;
}