.Container{
  position:relative;
  width:auto;
}

.MenuContainer{
  position:absolute;
  top:54px;

  padding:20px;

  width:300px;

  border:1px solid rgba(118, 118, 118, 0.28);
  border-radius:13px;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px 0px;
}